doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title recuperarContrase&ntilde;a
    link(rel='stylesheet' href='/stylesheets/recuperarContrasena.css')
form.posicionTablero
    fieldset.fieldset1
        h1 Recuperar tu Cuenta
        h2 Le enviamos un codigo de recuperacion para verificar que eres tu.
        #posicion1
            input.inputs(type='text' placeholder='Codigo de recuperacion' required='')
        #posicion2
            input.botonIngresar(type='submit' value='Verificar')
