body {
    background-color: #E81D1D;
    font-family: arial;
    margin: 50px 120px 150px 120px;
    padding: 20px;
    text-align: center;	 
}

form {
    display: inline-block;
}

.posicionTablero{
    position:relative;
    top: 50px;
}

.fieldset1 {
    background: #FF4343;
    border-color: transparent;
    width: 800px;
    height: 420px;
}


#posicion1 { 
    position: relative; 
    display: inline-block;
    top: 70px;
    left: 105px;
}

#posicion2 { 
    position: relative; 
    display: inline-block;
    top: 220px;
    left: 80px;
}

.inputs {
    width: 300px;
    height: 25px;
}

.botonIngresar{
    width: 200px;
    height: 35px;
    background-color: yellow;
}

.botonIngresar:hover {
    background-color: white;
    border: none;
}

